.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.navbar-brand {
  padding: 0 10px; }

#check-label :hover {
  font-weight: 500; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.check-box {
  margin-right: 5px;
  display: inline-block; }

.collapsed .rotate-icon {
  transform: rotate(180deg); }

a .card-header {
  cursor: pointer; }
  a .card-header :hover {
    background-color: rgba(1, 1, 1, 0.2); }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.carousel-control-next, .carousel-control-prev {
  width: 10%;
  background-color: rgba(0, 0, 0, 0.1); }

#carousel-pause-play {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1; }
